[submodule "42_libft"]
	path = 42_libft
	url = git@github.com:joaodibba/42_libft.git
[submodule "42_so_long"]
	path = 42_so_long
	url = git@github.com:joaodibba/42_so_long.git
[submodule "42_printf"]
	path = 42_printf
	url = git@github.com:joaodibba/42_printf.git
[submodule "42_get_next_line"]
	path = 42_get_next_line
	url = git@github.com:joaodibba/42_get_next_line.git
[submodule "42_minitalk"]
	path = 42_minitalk
	url = git@github.com:joaodibba/42_minitalk.git
[submodule "42_push_swap"]
	path = 42_push_swap
	url = https://github.com/joaodibba/42_push_swap
[submodule "42_philosophers"]
	path = 42_philosophers
	url = https://github.com/joaodibba/42_philosophers
[submodule "42_minishell"]
	path = 42_minishell
	url = https://github.com/joaodibba/42_Minishell
