[submodule "42_born2beroot"]
	path = 42_born2beroot
	url = https://github.com/joaodibba/42_born2beroot
[submodule "42_get_next_line"]
	path = 42_get_next_line
	url = https://github.com/joaodibba/42_get_next_line
[submodule "42_printf"]
	path = 42_printf
	url = https://github.com/joaodibba/42_printf
[submodule "42_libft"]
	path = 42_libft
	url = https://github.com/joaodibba/42_libft
[submodule "42_so_long"]
	path = 42_so_long
	url = https://github.com/joaodibba/42_so_long
[submodule "42_minitalk"]
	path = 42_minitalk
	url = https://github.com/joaodibba/42_minitalk
